<aside class="k-sidebar shadow my-2">
  <div class="text-center">
    <h3 class="k-ff">KA7ANA</h3>
    <span>Admin Panel</span>
  </div>
  <hr />
  <ul class="k-list k-list-borderless">
    <li class="active">
      <div class="d-flex justify-content-between">
        Details
      </div>
    </li>
    <li>
      <div class="d-flex justify-content-between">
        Item 2
      </div>
    </li>
    <li>
      <div class="d-flex justify-content-between">
        Item 3
      </div>
    </li>
  </ul>
</aside>

