
.details-card {
  min-height: 150px;
  max-height: 150px;
  overflow: auto;
}

.graph-monthly-card,
.table-products-card {
  min-height: 400px;
  max-height: 400px;
}

.counter-details {
  font-size: 55px;
  font-weight: 100;
  line-height: 1;
}
