<nav class="k-navbar bg-dark shadow">
  <div class="row">
    <div class="col-12 col-lg-2 col-md-2 col-sm-6">
      <div class="d-flex justify-content-between">
        <a href="" class="k-nav-link ms-2">Home</a>
        <button class="k-ham-btn mx-4 px-3">|||</button>
      </div>
    </div>
    <div class="col-12 col-lg-10 col-md-10 col-sm-6">
      <div class="d-flex justify-content-end">
        <a href="" class="k-nav-link mx-2">Contact</a>
        <a href="" class="k-nav-link mx-2">About Us</a>
        <div class="k-nav-item-dropdown mx-2">
          <div class="d-flex">
            <a href="" class="k-nav-link k-dropbtn"> Settings </a>
          </div>
          <div class="k-dropdown-content">
            <a href="#">My Acount</a>
            <a href="#">Help</a>
            <a href="#">Log Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
